<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Image Snoop</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bugfix Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<style type="text/css">
</style>
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="./static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="./static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!-- <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'> -->
<script src="./static/js/jquery-1.12.0.min.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script>
$(document).ready(function () {
    size_li = $("#myList li").size();
    x=1;
    $('#myList li:lt('+x+')').show();
    $('#loadMore').click(function () {
        x= (x+3 <= size_li) ? x+3 : size_li;
        $('#myList li:lt('+x+')').show();
    });
    $('#showLess').click(function () {
        x=(x-3<0) ? 3 : x-1;
        $('#myList li').not(':lt('+x+')').hide();
    });
});
</script>
<script type="text/javascript" src="./static/js/move-top.js"></script>
       <script type="text/javascript" src="./static/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
		<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>

</head>
<body>
<!-- banner -->
<div class="banner">
	<div class="container">
		<div class="header">
			<div class="logo">
				<h1><a href="./">Image <span>Snoop</span></a></h1>
			</div>
		<div class="navigation">
			<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="hvr-bounce-to-bottom button"><a href="#home" class="scroll">Home</a></li>
							<li class="hvr-bounce-to-bottom button"><a href="#about" class="scroll">About</a></li>
							<li class="hvr-bounce-to-bottom button"><a href="#services" class="scroll">Services</a></li>
							<li class="hvr-bounce-to-bottom button"><a href="#features" class="scroll">Features</a></li>
							<li class="hvr-bounce-to-bottom button"><a href="#contact" class="scroll">Contact</a></li>
						</ul>
							<div class="clearfix"></div>
					</div><!-- /.navbar-collapse -->
			</nav>
		</div>
			<div class="clearfix"></div>
		</div>
		<div class="banner-info">
			<h2>选择图片上传</h2>
			<div class="col-md-12 past">
			<form action="/" method="POST" enctype="multipart/form-data" style="margin:30px 0 150px 0">
    			<input class="tex" type="file" name="file" id="">
    			<input class="tex" type="submit" value="上传文件" style="color:#000000" />
    		</form>
			</div>
			<div class="clearfix"></div>
			<div class="find">
				<a href="messages.html">Find</a>
			</div>
		</div>
		
	</div>
</div>
<!-- /banner -->

<!-- about -->
<div class="about" id="about">
	<div class="container">
		<h3><span>A</span>bout Us</h3>
		<p>Typical bug tracking systems support the concept of the life cycle for a bug which is tracked through the status assigned to the bug. A bug tracking system should allow administrators to configure permissions based on status, move the bug to another status, or delete the bug. </p>						
		<img src="./static/images/1.jpg" class="img-responsive" alt=""/>
		<div class="abt-btm">
			<p>Lorem Ipsum is simply dummy text of the printing and typeset</p>
			<p> Lorem Ipsum has been the industry's standard dummy text </p>
		</div>
			<a class="hvr-shutter-in-horizontal button" href="messages.html">Read More</a>
	</div>
</div>
<!-- /about -->
<!-- services -->
<div class="services" id="services">
	<div class="container">
		<h3><span>S</span>ervices</h3>
		<div class="serv-top">
			<div class="col-md-4 serv-left">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
				<h4>Lorem Ipsum</h4>
				<p> Nam libero tempore, cum soluta nobis est eligendi optio 
					cumque nihil impedit quo minus id quod .</p>
			</div>
			<div class="col-md-4 serv-left">
				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
				<h4>Lorem Ipsum</h4>
				<p> Nam libero tempore, cum soluta nobis est eligendi optio 
					cumque nihil impedit quo minus id quod .</p>
			</div>
			<div class="col-md-4 serv-left">
				<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
				<h4>Lorem Ipsum</h4>
				<p> Nam libero tempore, cum soluta nobis est eligendi optio 
					cumque nihil impedit quo minus id quod .</p>
			</div>
				<div class="clearfix"> </div>
		</div>
		<div class="ser-botm">
			<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
		</div>
	</div>
</div>
<!-- /services -->
<!-- features -->
<div class="features" id="features">
	<div class="container">
		<h3><span>F</span>eatures</h3>
		<div class="feat-top">
			<div class="col-md-6 feat-left">
				<h4>For Users</h4>
					<ul>
						<li><a href="#">Advanced Search Capabilities</a></li>
						<li><a href="#">Email Notifications Controlled By User</a></li>
						<li><a href="#">Bug Lists in Multiple Formats </a></li>
						<li><a href="#">Time Tracking , Request System</a></li>
					</ul>
			</div>
			<div class="col-md-6 feat-rgt">
				<img src="./static/images/3.jpg" class="img-responsive" alt="" />
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="feat-btom">
			<div class="col-md-6 feat-rgt">
				<img src="./static/images/2.jpg" class="img-responsive" alt="" />
			</div>
			<div class="col-md-6 feat-left">
				<h4>For Administrators</h4>
					<ul>
					
						<li><a href="#">Reports and Charts</a></li>
						<li><a href="#">Excellent Security</a></li>
						<li><a href="#">Impersonate Users</a></li>
						<li><a href="#">Custom Workflow</a></li>
					</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- /features -->
<!-- contact -->
<div class="contact" id="contact">
	<div class="container">
		<h3><span>C</span>ontact</h3>
		<div class="con-top">
			<p>Lorem Ipsum is simply dummy text of the printing and typeset</p>
			<p>Lorem Ipsum has been the industry's standard dummy text </p>
		</div>
		<div class="con-botm">
			<form>
				<div class="col-md-6 cont-left">
					<textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
				</div>
				<div class="col-md-6 cont-rgt">
					<input type="text" value="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Name';}">
					<input type="text" value="Email" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Email';}">
					<div class="send">
						<input type="submit" value="Send">
					</div>
				</div>
					<div class="clearfix"></div>
			</form>
		</div>
	</div>
</div>
<!-- /contact -->
<!--- footer ---->	
<div class="footer">
	<div class="container">
		<p>Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		<div class="social">
				<ul>
					<li><a href="#" class="facebook"> </a></li>
					<li><a href="#" class="facebook twitter"> </a></li>
					<li><a href="#" class="facebook chrome"> </a></li>
					<li><a href="#" class="facebook in"> </a></li>
				</ul>		
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 0;"> </span></a>
<!--- footer ---->	
</body>
</html>