<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>师兄师兄，快来砸我呀~</title>
	<!--<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0"> -->
	<meta http-equiv="X-UA-Compatible" content="edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="./static/css/styles.css">
	<link rel="stylesheet" href="./static/css/main_response.css">

	<link rel="stylesheet" type="text/css" href="./static/css/normalize.css" />
	<link rel='stylesheet prefetch' href='http://www.jq22.com/jquery/font-awesome.4.6.0.css'>
	<link rel='stylesheet prefetch' href='./static/css/animate.min.css'>
	<link rel="stylesheet" type="text/css" href="./static/css/default.css">
	<link rel="stylesheet" type="text/css" href="./static/css/menustyles.css">
</head>
<body>
	<div class="loadingDiv" id="loadingDiv">
		<p class="wiatTitle">不要着急，马上就来~~</p>
	</div>

	<div class="goldContent">

		<!-- <div class="headPage">
			<img class="headPage_Img" src="./static/images/ys3.png">
		</div> -->
		<div class="goldEggsDiv">
			<!-- <p class="tishiChouJiang">先让我<span class="loginSpan">验证</span>一下你是不是师兄~</p> -->
			<p class="tishiChouJiang">  我会一直在，</br>不论晴天还是下雨，</br>我都陪你欢喜和悲伤。</br> </p>
			<img class="centerPage_Img" src="./static/images/bg5.jpg">
			<div class="list_EggsDiv"  id="carousel">
				<div>
					<ul class="jinDanUl" id="jinDanUl1">
						<li><img src="./static/images/cd1.png" alt="egg1" title="快来砸我呀~"/></li>
						<li><img src="./static/images/cd1.png" alt="egg2" title="快来砸我呀~"/></li>
						<li><img src="./static/images/cd1.png" alt="egg3" title="快来砸我呀~"/></li>
					</ul>	
				</div>
	
				<div>
					<ul class="jinDanUl1" id="jinDanUl2">
						<li><img src="./static/images/cd1.png" alt="egg4" title="快来砸我呀~"/></li>
						<li><img src="./static/images/cd1.png" alt="egg5" title="快来砸我呀~"/></li>
						<li><img src="./static/images/cd1.png" alt="egg6" title="快来砸我呀~"/></li>
					</ul>	
				</div>
			</div>

		<!-- 	<div class="brandStoreLeft slider">
			<div style="z-index: 0; left: 0px;"><img src="./static/images/2.jpg"></div>
			<div style="left: 313px; z-index: 0;"><img src="./static/images/1.jpg"></div>
			</div> -->
		</div>

		<div class="paiMingAllDiv list_Content">

		<div class="rulesActivity list_Content">
			<div class="titleDiv">
				<div class="title_Div">
					<h3>砸蛋规则</h3>
				</div>
				<span class="line_1px"></span>
			</div>

			<div class="list_Rules">
				<i class="right_img"></i>
				<i class="left_img"></i>
				<ul>
					<li>1.这个活动从情人节开始，然后就是常年性的活动啦，哈哈哈哈哈，是不是很机智？？？</li>
					<li>2.奖项会慢慢地增加和修改哒，毕竟想奖品简直要疯~</li>
					<li>3.现在是属于<span class="color_red">情人节特别活动</span>时期，所以增大了获奖的概率~然后奖品也很有福利哦（看我真诚脸）；</li>
					<li>4.每日砸蛋次数无限制，直到中奖为止(简直良心活动），每日一奖，累积到情人节可挑选自己最想要的那份奖品~</li>
					<li>5.凭截图于14日晚到你亲亲师妹那里领取奖品~</li>
					<li>6.本活动的最终解释权归你最最可爱的师妹所有。</li>
					<li>7.情人节特别活动过去后，本活动将进行优化改版，然后常年可参加哦（不定时进行维护更新，哈哈哈哈哈哈）~ </li>
					<li>8.我们的口号是：心情不好砸个蛋，想师妹了砸个蛋，惊喜多多，快乐多多~ </li>
					<li style="margin: 20px 0 0 0;font-size: 12px">
幸福的感觉,</br>
就是静静地谛听你到来的足音,</br>
然后捂着嘴偷偷的欢喜;</br>
就是两个人心无隔阂,</br>
为别人认为并不值得的事情而一起傻乐傻哭.</br></br>

幸福的感觉,</br>
就是偶尔争吵的时候,</br>
也会想着紧紧拉住彼此的手,</br>
让汗湿的掌心,</br>
传递争执背后幽怨的依恋.</br></br>

幸福的感觉,</br>
就是在天各一方各自忙碌的时刻,</br>
也会温柔的想起,</br>
远方宝贝琐碎的唠叨,</br>
然后,旁若无人的痴然而笑. </li>
				</ul>
			</div>
		</div>
		<div class="footerImg">
			<img src="./static/images/ys4.png"  style="margin: 20px 20px 0 20px">
		</div>
	</div>
	<div class="htmleaf-container">
		
		<div id='ss_menu'>
		  <div class="firstButton">
		    <i class="fa fa-home"></i>
		  </div>
		  <div class="secondButton">
		    <i class="fa fa-edit"></i>
		  </div>
		  <div class="thirdButton">
		    <i class="fa fa-envelope"></i>
		  </div>
		  <div class="forthButton">
		    <i class="fa fa-heart"></i>
		  </div>
		  <div class='menu'>
		    <div class='share' id='ss_toggle' data-rot='180'>
		      <div class='circle'></div>
		      <div class='bar'></div>
		    </div>
		  </div>
		</div>
		
	</div>
</body>

<script src="http://www.jq22.com/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="./static/js/jquery-2.1.1.min.js"><\/script>')</script>
<script>
	$(document).ready(function (ev) {
	    var toggle = $('#ss_toggle');
	    var menu = $('#ss_menu');
	    var rot;
	    $('#ss_toggle').on('click', function (ev) {
	        rot = parseInt($(this).data('rot')) - 180;
	        menu.css('transform', 'rotate(' + rot + 'deg)');
	        menu.css('webkitTransform', 'rotate(' + rot + 'deg)');
	        if (rot / 180 % 2 == 0) {
	            toggle.parent().addClass('ss_active');
	            toggle.addClass('close');
	        } else {
	            toggle.parent().removeClass('ss_active');
	            toggle.removeClass('close');
	        }
	        $(this).data('rot', rot);
	    });
	    menu.on('transitionend webkitTransitionEnd oTransitionEnd', function () {
	        if (rot / 180 % 2 == 0) {
	            $('#ss_menu div i').addClass('ss_animate');
	        } else {
	            $('#ss_menu div i').removeClass('ss_animate');
	        }
	    });
	    $('#ss_menu .firstButton i').on('click', function (ev) {
	        location.href = "/";
	    });
	    $('#ss_menu .secondButton i').on('click', function (ev) {
	        location.href = "/add.html";
	    });
	    $('#ss_menu .thirdButton i').on('click', function (ev) {
	        location.href = "/";
	    });
	    $('#ss_menu .forthButton i').on('click', function (ev) {
	        location.href = "/";
	    });
	});
</script>

<script  data-main="./static/js/do_main.js" src="./static/js/jquery-2.1.0.min.js"></script>
<script src="./static/js/require.js"></script>
<script>
	var dis = 0;
	function autoWinsList(){
		dis++;
		$('.all_List_Div').scrollTop(dis);
		if ($('.all_List_Div').scrollTop()>=$('.ul_List1').height()) {
			dis = 0;
			$('.all_List_Div').scrollTop(dis);
		}
	}
	var myset=setInterval("autoWinsList()",50);
</script>

{% if not 'add' in sessions %}
<script type="text/javascript">
	function alertLogin(){
		var str = '';
		str += '<div class="bg-mask"></div>';
		str += '<form class="logins" action="/" method="POST"><div class="inputInfo">';
		str += '<img class="colseLogin" src="./static/images/close.png">';
		str += '<p class="inputInfoTitle">你是谁？</p>';
		str += '<div class="userNameDiv">';
		str += '<label for="nameInput">请输入你的身份:</label>';
		str += '<input class="nameInput" name="nameInput" id="nameInput" type="text">';
		str += '</div>';
		str += '<div class="phoneDiv">';
		str += '<label for="phoneInput">通关密语:</label>';
		str += '<input class="phoneInput" name="phoneInput" id="phoneInput" type="text">';
		str += '</div>';
		str += '<input class="submitTijiao" type="button" value="提交">';
		str += '</div></form>';

		$('body').css({'overflow':'hidden'});
		$('body').prepend(str);

		setTimeout(function(){
			$('.inputInfo').addClass('active');
		},200);
		
		//点击验证
		$('.submitTijiao').click(function(){
			var phoneNumber = $('.phoneInput').val();
			var userName = $('.nameInput').val();
			if(phoneNumber===''||userName===''){
				alert('信息不能为空~');
				return false;
			}else if(userName != '师兄' && userName != '师妹'){
				alert('身份验证失败~');
				return false;
			}else if(userName == '师兄' && phoneNumber != '执子之手'){
				alert('通关密语错误~');
				return false;
			}else if(userName == '师妹' && phoneNumber != '与子偕老'){
				alert('通关密语错误~')
				return false;
			}else{
				$('.logins').submit();
				return true;
			}
		});
	}
	alertLogin();
</script>
{% endif %}

{% if adds %}
<script type="text/javascript">
	function alertAdd(){
		var str = '';
		str += '<div class="bg-mask"></div>';
		str += '<form class="adds" action="/" method="post"><div class="inputInfo">';
		str += '<img class="colseLogin" src="./static/images/close.png" alt="关闭">';
		str += '<p class="inputInfoTitle">快来添加情话吧~~</p>';
		str += '<div class="userNameDiv">';
		str += '<label for="nameInput">要添加的奖项:</label>';
		str += '<input class="nameInput" name="nameInput" id="nameInput" type="text">';
		str += '</div>';
		str += '<div class="phoneDiv">';
		str += '<label for="phoneInput">添加的内容:</label>';
		str += '<input class="phoneInput" name="phoneInput" id="phoneInput" type="text">';
		str += '</div>';
		str += '<input class="submitTijiao" type="submit" value="提交">';
		str += '</div></form>';

		$('body').css({'overflow':'hidden'});
		$('body').prepend(str);

		setTimeout(function(){
			$('.inputInfo').addClass('active');
		},200);
		
		//点击提交
		$('.submitTijiao').click(function(){
			var phoneNumber = $('.phoneInput').val();
			var userName = $('.nameInput').val();
			if(phoneNumber===''||userName===''){
				alert('信息不能为空！');
				return false;
			}else if(userName != 'tedengjiang' && userName != 'yidengjiang' && userName != 'erdengjiang' && userName != 'sandengjiang' && userName != 'anweijiang'){
				alert('奖项名称错误！');
				return false;
			}else{
				$('.adds').submit();
				return true;
			}
		});
	}
	alertAdd();
</script>
{% endif %}

<script type="text/javascript">
//加载loading效果
// document.onreadystatechange=function completeLoading(){
// 	var tishi = document.getElementById('loadingDiv');
//   	if (document.readyState=='complete') {
//   		tishi.hide();
// 	}
// }
</script>
</html>
