<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Bugfix a Corporate Category Flat Bootstrap Responsive Website Template | Messages :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="./static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="./static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!-- <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'> -->
<script src="./static/js/jquery-1.12.0.min.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script>
$(document).ready(function () {
    size_li = $("#myList li").size();
    x=1;
    $('#myList li:lt('+x+')').show();
    $('#loadMore').click(function () {
        x= (x+3 <= size_li) ? x+3 : size_li;
        $('#myList li:lt('+x+')').show();
    });
    $('#showLess').click(function () {
        x=(x-3<0) ? 3 : x-1;
        $('#myList li').not(':lt('+x+')').hide();
    });
});
</script>
<script type="text/javascript" src="./static/js/move-top.js"></script>
       <script type="text/javascript" src="./static/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
		<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
</head>
<body>
<!-- banner -->
<div class="banner1">
	<div class="container">
		<div class="header">
			<div class="logo">
				<h1><a href="index.html">Bug <span>Fix</span></a></h1>
			</div>
		<div class="navigation">
			<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
						<li class="hvr-bounce-to-bottom button"><a href="index.html" class="scroll">Home</a></li>
							<li class="hvr-bounce-to-bottom button"><a href="index.html" class="scroll">About</a></li>
							<li class="hvr-bounce-to-bottom button"><a href="index.html" class="scroll">Services</a></li>
							<li class="hvr-bounce-to-bottom button"><a href="index.html" class="scroll">Features</a></li>
							<li class="hvr-bounce-to-bottom button"><a href="index.html" class="scroll">Contact</a></li>
						</ul>
							<div class="clearfix"></div>
					</div><!-- /.navbar-collapse -->
			</nav>
		</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- /banner -->

<!-- singlepage -->
<div class="singlepage">
	<div class="container">
		<div class="inbox-page">
			<h4><span>Info</span> Messages</h4>
				<ul>
					<li>Nullam quis risus eget urna mollis ornare nullam quis risus eget urna mollis ornare</li>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<li>Urna mollis ornare nullam quis risus eget urna mollis ornare nullam quis risus eget </li>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took it to make a type specimen.</p>
					<li>Risus eget urna mollis ornare nullam quis risus eget urna mollis ornare nullam quis </li>
					<p>Lorem Ipsum has been the industry's standard dummy ever since the 1500s, a galley of type and scrambled it to make a type specimen book.</p>
					
				</ul>
		</div>
		<div class="inbox-page1">
			<h4><span>Error</span> Messages</h4>
				<ul>
					<li>Eget urna mollis ornare nullam quis risus eget urna mollis ornare nullam quis risus </li>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took it to make a type specimen.</p>
					<li>Quis risus eget urna mollis ornare nullam quis risus eget urna mollis ornare nullam </li>
					<p>Lorem Ipsum has been the industry's standard dummy ever since the 1500s, a galley of type and scrambled it to make a type specimen book.</p>
					<li>Mollis ornare nullam quis risus eget urna mollis ornare nullam quis risus eget urna </li>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
				</ul>
		</div>
		<div class="inbox-page2">
			<h4><span>Warning</span> Messages</h4>
				<ul>
					<li>Nullam quis risus eget urna mollis ornare nullam quis risus  eget urna mollis ornare</li>
					<p>Lorem Ipsum has been the industry's standard dummy ever since the 1500s, a galley of type and scrambled it to make a type specimen book.</p>
					<li>Risus eget urna mollis ornare nullam quis risus eget urna nullam quis  mollis ornare</li>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
					<li>Ornare nullam quis risus eget urna mollis ornare nullam quis risus eget urna mollis </li>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took it to make a type specimen.</p>
					
				</ul>
		</div>
	</div>
</div>
<!-- /singlepage -->
<!--- footer ---->	
<div class="footer">
	<div class="container">
		<p>Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		<div class="social">
				<ul>
					<li><a href="#" class="facebook"> </a></li>
					<li><a href="#" class="facebook twitter"> </a></li>
					<li><a href="#" class="facebook chrome"> </a></li>
					<li><a href="#" class="facebook in"> </a></li>
				</ul>		
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 0;"> </span></a>
<!--- footer ---->	
</body>
</html>